
/* Partie supérieure - image en fond */

.topbackground{
    background-image: url(./images/1567329284_petanque-1.jpg);
    opacity:0.9;
    background-size: cover;
    min-height : 530px;
}

#header{
    background-color: #606c38;
    color:white;
    font-family: 'Liberation Mono', arial;
    text-align: center;
    margin-top : 30px;
    font-size : 25px;
}

h1{
    color: white;
    font-family: 'Liberation Mono', arial;
    font-size : 100px;
    font-weight: bold;
    text-align : center;
    transform: rotate(-10deg);
    padding : 70px 5px 10px 5px;
    text-shadow: 1px 0 0 #283618, -1px 0 0 #283618, 0 1px 0 #283618, 0 -1px 0  #283618, 1px 1px  #283618, -1px -1px 0 #283618, 1px -1px 0  #283618, -1px 1px 0  #283618;
    width : 100%;
}

#bigTitle{
    max-width: 90%;
    margin-left: 5%;
}


/* Bandeau date et lieu */

#datePlace{
    background-color: #fefae0;
}

h2{
    color : #283618;
    font-family: 'Orbitron', sans-serif;
    font-weight : bold;
    text-align:center;
    font-size : 65px;
    padding-top : 10px;
    padding-bottom : 10px;
}

h3{
    color : #283618;
    font-family: 'Orbitron', sans-serif;
    font-weight : bold;
    text-align:center;
    font-size : 45px;
    padding-bottom : 10px;
}

/* Bandeau types de jeux */

#gameType{
    background-color: #283618;
}

#poule{
    background-color : #bc6c25;
    color:white;
    font-family: 'Liberation Mono', arial;
    text-align: center;
    margin: 60px 3% 2px 0;
    border-radius: 8px;
    width: 47%;
    min-height : 140px;
    display: inline-grid;
    align-content: center;
}

#poule p{
    font-size : 20px;
    margin-bottom : 0 !important;
    font-weight: bold;
}

#doublette{
    background-color : #bc6c25;
    color:white;
    font-family: 'Liberation Mono', arial;
    text-align: center;
    margin: 60px 0px 2px 3%;
    border-radius: 8px;
    width: 47%;
    min-height : 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    color : white;
    font-size : 32px;
    font-family: 'Liberation Mono', arial;
    text-align : center;
    padding: 0 10px 0 10px;
    font-weight: bold;
}

/* Bandeau dotations */

#dotations{
    background-color: #ef8d22;
    color: #283618;
    font-family: 'Orbitron', sans-serif;
    font-weight : bold;
    font-size : 50px;
    min-height : 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align : center;
}

/* Partie inférieure */
.bottomBackground{
    background-color: #606c38;
}

#inscriptions{
    background-color: #fefae0;
    color : #283618;
    font-family: 'Liberation Mono', arial;
    margin : 50px 0 25px 0;
    text-align: center;
    min-height: 250px;
    border-radius: 8px;
}

#inscriptions p{
    padding: 0 10px 0 10px;
    margin-top: 5%;
    font-size : 18px;
}

#informations{
    background-color : #ffdf71;
    color : #283618;
    font-family: 'Liberation Mono', arial;
    margin : 80px 0 25px 0;
    text-align: center;
    min-height : 200px;
    margin-bottom: 70px;
    border-radius: 8px;
}

#informations p{
    padding: 0 10px 0 10px;
    text-align: left;
    font-size : 18px;
}

h5{
    font-weight : bold;
    font-size: 25px;
    padding-bottom : 15px;
    padding-top:15px;
}


/* Media queries */

@media all and (max-width: 750px){
    h1{
        font-size : 70px;
        transform: rotate(10);
    }
    #flex{
        display : flex;
        flex-flow: column wrap;
    }
    #poule{
        width : 90%;
        margin : 8% 5% 2% 5%;
    }
    #doublette{
        width : 90%;
        margin : 5% 5% 8% 5%;
    }
    #dotations{
        font-size : 30px;
        padding : 5px 12px 5px 12px;
    }
}

@media all and (max-width: 500px){
    h1{
        font-size : 80px;
        transform: rotate(0);
    }
    #flex{
        display : flex;
        flex-flow: column wrap;
    }
    #poule{
        width : 90%;
        margin : 8% 5% 2% 5%;
    }
    #doublette{
        width : 90%;
        margin : 5% 5% 8% 5%;
    }
    #dotations{
        font-size : 30px;
        padding : 5px 12px 5px 12px;
    }
    ##bigTitle{
        max-width: 85%;
        margin-left: 5%;
    }
    
}

@media all and (max-width: 450px){
    h1{
        font-size : 70px;
        transform: rotate(0);
    }

@media all and (max-width: 400px){
    h1{
        font-size : 62px;
        padding: 35px 5px 0 5px;
    }
    }
    h2{
        font-size : 50px
    }
    h3{
        font-size : 30px;
    }
}

@media all and (max-width: 350px){
    h1{
        font-size : 50px;
        transform: rotate(0);
    }
    ##bigTitle{
        max-width: 100%;
        margin-left: 0%;
    }
    .topbackground{
        min-height : 480px;
    }
}